.app {
	background-color: var(--bg-primary);
	width: 100%;
	height: 100%;
	padding: 3rem;
}

.wrapper {
	background-color: var(--bg-secondary);
	max-width: 114rem;
	margin: 0 auto;
}

.heading {
	padding-top: 2rem;
	font-size: 5rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
